apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui   
  labels:
    app: ui              
    environment: dev
spec:        
  selector:
    matchLabels:
      app: ui            
      componet: frontend
  template:
    metadata:
      labels:
        app: ui          
        componet: frontend
    spec:
      containers:
      - name: ui
        image: 
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: orders-configmap  
        resources: