apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
  labels:
    tier: db
    environment: {{ .Values.environment }}
spec:
  selector:
    matchLabels:
      app: rabbitmq # has to match .spec.template.metadata.labels
  serviceName: "rabbitmq"
  replicas: {{ .Values.replicaCount }}
  template:
    metadata:
      labels:
        app: rabbitmq # has to match .spec.selector.matchLabels
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq:3
        ports:
        - containerPort: 5672
          name: rabbitmq
        env:
        - name: RABBITMQ_DEFAULT_USER
          value: rabbitmq_user
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-secret
              key: RABBITMQ_PASSWORD