apiVersion: v1
kind: Service
metadata:
  name: orders
  namespace: retail-store
spec:
  selector:
    app: orders          
    environment: dev
    component: backend
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080 