cart:
  enabled: true

checkout:
  enabled: true

catalog:
  enabled: true

orders:
  enabled: true

ui:
  enabled: true

dynamodb:
  enabled: true

mysql:
  enabled: true

postgresql:
  enabled: true

rabbitmq:
  enabled: true

redis:
  enabled: true

