apiVersion: apps/v1
kind: Deployment
metadata:
  name: ui   
  labels:
    app: ui              
    environment: {{ .Values.environment }}
spec:        
  selector:
    matchLabels:
      app: ui            
      component: frontend
  template:
    metadata:
      labels:
        app: ui          
        component: frontend
    spec:
      containers:
      - name: ui
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        ports:
        - containerPort: 8080
        envFrom:
        - configMapRef:
            name: ui-configmap  
        resources:
{{ toYaml .Values.resources | indent 10 }}
{{ include "ui.healthProbes" . | indent 8 }}