apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  labels:
    environment: {{ .Values.environment }}
    tier: db
spec:
  serviceName: mysql
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      tier: db
  template:
    metadata:
      labels:
        tier: db
    spec:
      containers:
      - name: mysql
        image: mysql:8
        ports:
        - containerPort: 3306
          name: mysql-port
        env: # contains all important variables to setup mysql
        - name: MYSQL_DATABASE
          value: catalogdb
        - name: MYSQL_USER
          value: catalog_user
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: MYSQL_PASSWORD
        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      # storageClassName: "my-storage-class"  no storage of this name is available so will stay pending
      resources:
        requests:
          storage: 5Gi