apiVersion: v1
kind: ConfigMap
metadata:
  name: cart-configmap
data:
  RETAIL_CART_PERSISTENCE_PROVIDER: dynamodb
  RETAIL_CART_PERSISTENCE_DYNAMODB_TABLE_NAME: Items
  RETAIL_CART_PERSISTENCE_DYNAMODB_ENDPOINT: http://dynamodb:8000
  RETAIL_CART_PERSISTENCE_DYNAMODB_CREATE_TABLE: "true"
  AWS_REGION: "{{ .Values.configmap.region }}"