environment: dev

# replicaCount: 1

image:
  repository: sarthak6700/retail-store-ui
  tag: v1

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 300m
    memory: 512Mi

hpa:
  minReplicas: 1
  maxReplicas: 3
  averageUtilization: 70

service:
  type: NodePort
  nodePort: 30080